body {
    background-color: #222222; 
    color: #ffffff;
    text-align: justify;
    font-family: 'Montserrat', Helvetica, sans-serif;
    margin: 15px; 
}

main{
    margin: inherit;
}

#miID {
    text-align: center;
    color: #bbcde5;
    font-family: 'Cinzel Decorative', Times, serif;
    font-size: 50px;
    font-weight: 600;
}

a {
    color: #639fab;
}

a:hover{
    color: #1c5d99;
}

.Enlaces{
    text-align: center;
}

img {
    display: block;
    width: 300px;
    height: 280px;
    margin: auto;
}

li{
    font-size: 18px;
}

div{
    background-color: #1c5d99;
    display: block;
    width: 50%;
    margin: auto;
    padding: 10px;
    text-align: center;
    border: 2px solid #ffffff;
    box-sizing: border-box;
}
